/**=====================
     Common scss
==========================**/
/* ======= Display Flex Css Start ======= */
@mixin flex_common ($dis: flex, $align: center, $justify: center) {
  display: $dis;
  align-items: $align;
  justify-content: $justify;
}

/* ======= Display Flex Css End ======= */

/* ======= Gap Flex Css Start ======= */
@mixin flex_wrap ($dis: flex, $wrap: wrap, $gap: 15px) {
  display: $dis;
  flex-wrap: $wrap;
  gap: $gap;
}

/* ======= Gap Flex Css End ======= */

/*======= position css starts  ======= */
@mixin pos($pos: absolute, $content: "") {
  content: $content;
  position: $pos;
}

@mixin pseudowh($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin center($position) {
  @if $position=="vertical" {
      top: 50%;
      transform: translateY(-50%);
  }

  @else if $position=="horizontal" {
      left: 50%;
      transform: translateX(-50%);
  }

  @else if $position=="both" {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

/*======= position css ends  ======= */

/*======= font awesome css start  ======= */
@mixin line($line: 1) {
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/*======= font awesome css ends  ======= */

/*======= font awesome css start  ======= */
@mixin font($weight: 900, $family: $fontawesome) {
  font-family: $family;
  font-weight: $weight;
}

/*======= font awesome css ends  ======= */

/*======= font awesome css start  ======= */
@mixin remixicon {
  font-family: remixicon;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/*======= font awesome css ends  ======= */

/*======= align css starts  ======= */
@mixin rtl($property, $ltr-value, $rtl-value) {
  #{$property}: $ltr-value;

  body[dir="rtl"] & {
      #{$property}: $rtl-value;
  }
}

// @include rtl(float, left, right);
/*======= align css ends  ======= */
/*header */
header .navbar.navbar-expand-xl .navbar-nav .nav-item > a {
  color: #fff !important;
}
header .delivery-login-box .delivery-icon svg{
  color: #fff !important;
}
header .top-nav .navbar-top .rightside-box .right-side-menu .right-side .header-wishlist svg{
  color: #fff !important;
}
header.active .sticky-header{
  background-color: #002598 !important;
  padding: 0 !important;
}
.align-center{
  text-align: center;
}
.homePage-title {
  margin-bottom: calc(16px + 14*(100vw - 320px) / 1600);
  text-align: center;
}
.title-padding-top {
  padding-top: calc(15px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
}

/**** */
.category-product-image{
  max-width: 100%;
  height: auto;
  width: fit-content;
}
.text-justify{
  text-align: justify;
}
.product-box .product-image img{

  max-width: 100%;
  height: auto !important;
  width: fit-content;
}
/****main banner slider image */
.slider-image{
  width: 100%;
  max-height: auto;
}
/* 360 view product css */
.text-section {
  background-color: $light-gray;
  height: 100%;
  .title {
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    line-height: 120px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #CCCCCC;
  }
  .col-sm-12.qty-box.product-qty.quantity-box {
    width: 80% !important;
    margin-left: 10%;
    max-width: 800px !important;
    margin-top: 10%;
}
.dynamic-checkout{
  display: flex;
    align-items: center;
    gap: 11%;
    max-width: 820px;
}
.dynamic-checkout button.border-theme-color{
  background-color: #fff;
}
.dynamic-checkout button.btn, .dynamic-checkout button.btn {
  background-color: #ffffff;
  color: var(--theme-color); 
  border: 0.5px solid var(--theme-color)
}

.dynamic-checkout button.btn.disabled, .dynamic-checkout button.btn:disabled {
  background-color:#CCCCCC;
  color: var(--theme-color); 
  border: 0.5px solid var(--theme-color)
}
}
header .navbar.navbar-expand-xl .navbar-nav .nav-item .dropdown-menu a{padding:0;color: #000000 !important;}

@media (max-width: 1199px){
header .navbar.navbar-expand-xl .navbar-nav .nav-item.dropdown>a {
  padding-inline: 0;
  color: #000 !important;
}
}
.text-content-white{
color: $white !important;
}
.image img {
min-width: 100% !important;
width: 100%;
max-width: 100%;
margin: auto !important;
vertical-align: middle !important;
}
.product-section-box .custom-tab .tab-pane .product-description.more-less-box {
max-height: 100% !important;
position: relative;
overflow: hidden;
}
.category-box img{
width: 230px !important;
height: 100% !important;
margin: 0 auto !important;
}
.text-align-center{
text-align:center;
}
.cursor{
cursor: pointer;
}
.image-border{
border-radius: 10px;
}
.activeClass{
border: 1px solid gray;
border-radius: 10px;
}
/*----Rishav CSS-----*/

// this css clickablePoint page
.clickable-point {
position: absolute;
width: 10px;
height: 10px;
background-color: red; /* Example background color */
border-radius: 50%; /* Make it round */
cursor: pointer; /* Default cursor style */
}

.clickable-point.hovered {
cursor: crosshair; /* Change cursor to crosshair when hovered */
}

.deal-timer.product-deal-timer {
width: auto !important;
margin-top: 24px;
/* text-align: center; */
padding: 20px 100px;
}
.title-360 {  
color: #ff7923 !important;
}
.zoomed-image-container {
position: absolute;
padding: 1px;
margin-top: 0%;
top: 30% !important;
left: 30% !important ;
background-color: white;
width: 230px !important;
}
.drs-img {
width: 100% !important;
}

// add new css
.category-box::after  {
content: " "  !important;
position: absolute  !important;
width: 100% !important;
height: 100%  !important;
top: 0  !important;
left: 0  !important;
background-image: url(/_next/static/media/shape.407f94ec.png ) !important;
background-position: center  !important;
background-repeat: no-repeat  !important;
background-size: cover  !important;
padding-top: 0% !important;
margin-bottom: 0% !important;

  
  opacity: 0  !important;
  z-index: -1  !important;
  transition: all 0.3s ease-in-out  !important ;
}

.category-box h5, .category-box .h5 {
color: #222222 !important;
margin-top: 0px  !important;
font-weight: 500  !important;
-webkit-line-clamp: 1  !important;
-webkit-box-orient: vertical  !important;
display: -webkit-box  !important;
  
/* overflow: hidden; */
}


.category-box {
background-color: #f8f8f8 !important;
margin: 10px auto !important;
display: block !important;
width: 100% !important;
text-align: center !important;
border-radius: 5px !important;
overflow: hidden !important;
transition: all 0.3s ease-in-out !important;
position: relative !important;
padding: 0px 0px 0px 0px !important; 
z-index: 0 !important;
}

.category-box h5, .category-box .h5 {
color: #222222;
margin-top: 10px !important;
margin-bottom: 10px !important;
font-weight: 500;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
display: -webkit-box;
overflow: hidden;
}

.category-box img {
width: 100% !important;
height: 100% !important;
border-radius: 5px;
margin: 0 auto !important;
}

.title-leaf {
display: none !important;
}

section, .section-t-space {
padding-top: calc(30px + 20*(100vw - 320px) / 1600);
// text-align: center !important;
}

.text-section .dynamic-checkout button.btn, .text-section .dynamic-checkout button.btn {
color: var(--theme-color);
border: 0.5px solid var(--theme-color);
width: auto !important;
margin: auto !important;

}

.navbar-toggler-icon svg {
vertical-align: middle;
fill: #fff !important;
}
.product-section .product-box .product-image .product-option li a svg {
font-size: 17px;
fill: #002598 !important;
}

// .add-to-cart-btn-2 .btn {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: calc(30px + 7*(100vw - 320px) / 1600);
//   height: calc(30px + 7*(100vw - 320px) / 1600);
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   background-color: #002598 !important;
//   padding: 0;
//   border-radius: 100%;
//   color: var(--theme-color);
// }

@media only screen and (min-width: 676px) {
.product-section .product-box .product-image {
  text-align: center!important;
  padding: 0px 0px 10px 0px!important;
  position: relative!important;
  min-height: 360px!important;
  max-height: 360px!important;
  overflow: hidden!important;
  object-fit: contain!important;
  background-size: cover!important;
  background-position: center!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.product-section .product-box .product-image img {
  max-width: 88% !important;
  max-height: 88% !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  vertical-align: middle !important;
}
.product-box .product-image {
  text-align: center !important;
  padding: 20px !important;
  z-index: 0 !important;
  position: relative !important;
  transition: opacity 0.5s, transform 1.25s cubic-bezier(0, 0, 0.44, 1.18) !important;
  position: relative !important;
  min-height: 228px !important;
  max-height: 228px !important;
  overflow: hidden !important;
  object-fit: contain !important;
  background-size: cover !important;
  background-position: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.product_img_bg .product-box .product-image img {
width: 100% !important;
height: calc(180px + 40*(100vw - 320px) / 1600) !important;
object-fit: contain !important;
transition: opacity 0.5s, transform 1.25s cubic-bezier(0, 0, 0.44, 1.18) !important;
}
}


@media only screen and (max-width: 675px) {


.product-section .product-box .product-image {
  text-align: center!important;
  padding: 10px 0px 10px 0px!important;
  position: relative!important;
  min-height: 200px!important;
  max-height: 200px!important;
  overflow: hidden!important;
  object-fit: contain!important;
  background-size: cover!important;
  background-position: center!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.product-section .product-box .product-image img {
  max-width: 88% !important;
  max-height: 88% !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  vertical-align: middle !important;
}

.product-box .product-image {
  text-align: center !important;
  padding: 20px !important;
  z-index: 0 !important;
  position: relative !important;
  transition: opacity 0.5s, transform 1.25s cubic-bezier(0, 0, 0.44, 1.18) !important;
  position: relative !important;
  min-height: 228px !important;
  max-height: 228px !important;
  overflow: hidden !important;
  object-fit: contain !important;
  background-size: cover !important;
  background-position: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.product_img_bg .product-box .product-image img {
width: 100% !important;
height: calc(180px + 40*(100vw - 320px) / 1600) !important;
object-fit: contain !important;
transition: opacity 0.5s, transform 1.25s cubic-bezier(0, 0, 0.44, 1.18) !important;
}
}
header.active .sticky-header {
background-color: #002598 !important;
padding: 10px !important;
}
.product_img_bg .product-box.product-white-bg .product-image {
background-color: rgb(255 255 255) !important;
}